<div *ngIf="!loading">
  <div class="filter">
    <input
      type="text"
    placeholder="Filter todo by title..."
    [(ngModel)]="searchString"
    >
  </div>
<ul *ngIf="todosService.todos.length; else noTodos">
  <li *ngFor="let todo of todosService.todos | todosFilter: searchString; let i = index">
    <span [class.done]="todo.completed">
      <input type="checkbox" [checked] = "todo.completed" (change)="onChange(todo.id)">
      <strong>{{ i + 1 }}. </strong>{{ todo.title }}
      <img *ngIf="todo.image" src="http://localhost:8080/todos?imageUrl={{todo.image.imagePath}}" alt="">
    </span>
    <small>{{todo.date | date: 'short' }}</small>
    <button class="rm" (click)="remove(todo.id)">&times;</button>
  </li>
</ul>
<ng-template #noTodos>
  <p style="text-align: center">NO TODOS NOW!!!</p>
</ng-template>
</div>
<p *ngIf="loading">LOADING...</p>
